<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="job-location">
    <p class="job-location__name">{location.name}</p>
    <address class="job-location__address">
        <f:if condition="{location.street}">{location.street}<br /></f:if>
        <f:if condition="{location.addressAddition}">{location.addressAddition}<br /></f:if>
        <f:if condition="{location.city}">{location.zip} {location.city}<br /></f:if>
        <f:if condition="{location.addressRegion}">{location.addressRegion}<br /></f:if>
    </address>
    <f:if condition="{location.phone} || {location.email}">
        <ul class="job-location__channels">
            <f:if condition="{location.phone}">
                <li class="job-location__phone">
                    <a href="tel:{location.phone}">{location.phone}</a>
                </li>
            </f:if>
            <f:if condition="{location.email}">
                <li class="job-location__email">
                    <f:link.email email="{location.email}" />
                </li>
            </f:if>
        </ul>
    </f:if>
</div>

</html>
